{% extends 'base.html.twig' %}

{% block body %}

    <main role="main" class="container">
        <div class="row">
            <div class="container mt-8">
                <div class="row">
                    <div class="col-8">
                        {# {{ dump(project) }} #}
                        <h3>{{ project.nom }}</h3>
                        <p>Projet proposé par {{ project.proposePar.prenom }} {{ project.proposePar.nom }} </p>
                        <a class="btn btn-sm btn-outline-warning mt-2 mb-2" href="">Je me lance !</a> <br>

                        {{ project.description }}

                        {% if(app.user) %}
                            <div class="text-left jumbotron">
                                <strong>Vous voulez parrticiper à ce projet ?</strong>
                                {{ form_start(form) }}
                                {{ form_row(form.githubRepository) }}
                                <button class="btn btn-primary btn-sm">Je me lance</button>
                                {{ form_end(form) }}
                            </div>
                        {% else %}
                            <a href="{{ path('app_login') }}">Connectez-vous pour participer à ce projet</a>
                        {% endif %}

                    </div>
                    <div class="col-4 text-center">
                        <img class="img-fluid" src="{{ vich_uploader_asset(project,'imageFile') }}" alt="{{ project.nom }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr>
                        <h4>Padawans</h4>
                    </div>
                </div>
                <div class="row text-center">
                    {# project.participant équivaut à project->getParticipants()#}
                    {% for participant in project.participants %}
                        <div class="col-lg-1">
                            {# pas besoin d'asset dans l'image qui suit puisque c'est une url absolue et non relative #}
                            <img class="img-fluid rounded-circle" src="{{ participant.padawan.avatarGithub }}" alt="">
                            <p><a class="btn btn-outline-info btn-sm" href="{{ path('padawan_profile',{'id':participant.padawan.id}) }}" role="button">{{ participant.padawan.prenom }}</a></p>
                        </div><!-- /.col-lg-4 -->
                    {% endfor %}

                </div>

            </div>

        </div>
    </main>

{% endblock body %}